#paper__custom{
    padding: auto;
    padding-top: .5em;
    margin: 1em;
    max-height:9em;
}
#name{
    font-family: 'Roboto', sans-serif;
    color:black;
    font-size: .7em
}
#price{
    font-family: 'Roboto', sans-serif;
    color:red;
    font-size: 1.5em;
}
#dollar{
    font-size: .7em;
}
#paper{
    max-width: 15em;
}
#button{
    background-color: rgba(4, 0, 255, 0.493);
    color: white;
    font-size: .5em;
}
#button:hover{
    box-shadow: rgba(0, 0, 0, 0.158) 1px 1px 15px 3px;
    background-color:rgba(4, 0, 255, 0.678);
}